footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    color: white;
    padding: 80px;
    margin-top: 30px;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

footer h3 {
    text-decoration: underline;
}

li {
    list-style: none;
    margin-bottom: .7rem;
}

ul {
    margin: 0;
    padding: 0;
}

footer a {
    font-size: 20px;
}

footer a:hover {
    color: #ffae00;
}